<div class="sidebar close1">
    <!-- Logo  -->
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">SalesFlow</span>
    </div>

    <!-- Navigation Links -->
    <ul class="nav-links">
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-line-chart' ></i>
            <span class="link_name">Reports</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Reports</a></li>
          <li><a href="managementdashboard.php">Management Summary</a></li>
          <li><a href="viewpossales.php">Sales Receipts</a></li>
          <li><a href="dailysalesreport.php">Sales Summary</a></li>
          <li><a href="productsummaryreport.php">Product Summary</a></li>
          <li><a href="productsalessummary.php">Product Sales</a></li>
          <li><a href="productstatement.php">Product Statement</a></li>
          <li><a href="producttransfersreport.php">Product Transfers</a></li>
          <li><a href="masterstocksheetreport.php">Master Stocksheet</a></li>
          <li><a href="profitabilityreport.php">Profitability</a></li>
          <li><a href="discountreport.php">Discount</a></li>
          <li><a href="posstocksummary.php">Outlet Stock Summary</a></li>
          <li><a href="stocklistreport.php">Main Stock List</a></li>
          <li><a href="inputoutputvatreport.php">Input/Output VAT </a></li>
          <li><a href="accountspayableaginganalysis.php">Payables Aging</a></li>
          <li><a href="accountsreceivableaginganalysis.php">Receivables Aging</a></li>
          <li><a href="glaccountstatement.php">GL Statement</a></li>
          <li><a href="trialbalance.php">Trial Balance</a></li>
          <li><a href="profitandlossaccount.php">P&amp;L Account</a></li>
          <li><a href="balancesheet.php">Balancesheet</a></li>
        </ul>
      </li>

      <li>
        <a href="dashboard_v2.php">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="dashboard_v2.php">Dashboard</a></li>
        </ul>
      </li>

      <li>
        <a href="touchscreensale_v2.php">
          <i class='bx bx-cart-add'></i>
          <span class="link_name">Sales</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="touchscreensale_v2.php">Make Sale</a></li>
        </ul>
      </li>

    
      <li>
        <a href="purchaseslist.php">
          <i class='bx bx-cart-download'></i>
          <span class="link_name">Purchases</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="purchaseslist.php">Purchase Items</a></li>
        </ul>
      </li>

      <li>
        <a href="stocklistreport.php">
          <i class='bx bx-bar-chart-square'></i>
          <span class="link_name">Stock Report</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="stocklistreport.php">Stock List Report</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-data' ></i>
            <span class="link_name">Inventory</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Inventory</a></li>
          <li><a href="touchscreensale_v2.php">Sales</a></li>
          <li><a href="returns.php">Returns</a></li>
          <li><a href="quotations.php">Quotations</a></li>
          <li><a href="proformainvoices.php">Profoma Invoices</a></li>
          <li><a href="transferslist.php">Transfer</a></li>
          <li><a href="categorylist.php">Product categories</a></li>
          <li><a href="productslist.php">Products</a></li>
          <li><a href="requisitions.php">Requisitions</a></li>
          <li><a href="rawmaterials.php">Raw Materials</a></li>
          <li><a href="purchaseslist.php">Purchase Orders</a></li>
          <li><a href="goodsreceived.php">Purchases Receipts</a></li>
          <li><a href="productionreceipts.php">Production Receipts</a></li>
          <li><a href="stocktaking.php">Stock Taking</a></li>
          <li><a href="stockreconciliation.php">Stock Adjustment</a></li>
           <li><a href="addcrates.php">Crates Management</a></li>
          <li><a href="spoilage.php">Disposal</a></li>
          <!-- <li><a href="addcrates.php">Crates</a></li> -->
        </ul>
      </li>
      <!-- Session Management -->
      <li>
        <a href="sessionmanagement.php">
          <i class='bx bx-time-five'></i>
          <span class="link_name">Sessions</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="sessionmanagement.php">Session Management</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-book-open' ></i>
            <span class="link_name">Contacts</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Contacts</a></li>
          <li><a href="customers_v2.php">Customers</a></li>
          <li><a href="supplierdetails.php">Suppliers</a></li>
          <!-- <li><a href="#">Sales Reps</a></li> -->
        </ul>
      </li>
      
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-money' ></i>
            <span class="link_name">Finance</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Finance</a></li>
          <li><a href="chartofaccounts.php">Chart of Acccounts</a></li>
          <li><a href="banking.php">Banking</a></li>
          <li><a href="invoicedetails.php">Supplier Invoices</a></li>
          <li><a href="paymentslist.php">Payments</a></li>
          <li><a href="pettycashvouchers.php">Petty Cash</a></li>
          <li><a href="journalentry.php">Journals</a></li>
          <li><a href="cashbooktransfers.php">Cashbook Transfers</a></li>
          <li><a href="customercraterefund.php">Crate Refunds</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="link_name">Settings</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Settings</a></li>
          <li><a href="usersmanager.php">Users</a></li>
          <li><a href="poslist.php">Outlets</a></li>
          <li><a href="vehicles.php">Vehicles</a></li>
          <li><a href="zones.php">Zones</a></li>
          <li><a href="institutiondetails.php">Institution Details</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-bell' ></i>
          <span class="link_name">Notifications</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Notifications</a></li>
        </ul>
      </li>

      <li>
        <a href="#" id="maximizebutton">
          <i class='bx bx-fullscreen'></i>
          <span class="link_name">Maximize</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Maximize</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-support' ></i>
          <span class="link_name">Help &amp; Support</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Help &amp; Support</a></li>
        </ul>
      </li>
    <!-- Logged in user details  -->
      <li>
        <div class="profile-details">
            <div class="profile-content">
              <img src="../images/blankavatar.jpg" alt="profileImg">
            </div>
            <div class="name-job">
              <div class="profile_name">Richard</div>
              <div class="job">System Admin</div>
            </div>
            <a href="../controllers/useroperations.php?logout"><i class='bx bx-log-out' ></i></a>
        </div>
      </li>
    </ul>
</div>